@font-face {
    font-family: 'Courier Prime';
    src: url('font/CourierPrime-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('font/CourierPrime-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anton';
    src: url('font/Anton-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: url('bk.svg'), linear-gradient(to right, #C2BDFF 0%, #E4C3DF 36%, #FDC7C8 67%, #FACBD3 82%, #F8CEDB 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #5F3B28;
    font-weight: 800;
    font-size: 18px;
}

::selection {
    background: #1D8DC0;
    color: #F5ECDC;
}

.desktop-window {
    background-color: #F5ECDC;
    border: 5px solid #5F3B28;
    border-radius: 25px;
    box-shadow: 12px 12px 0 #5F3B28;
    padding: 0;
    width: 1280px; /* 50px padding on each side */
    height: 800px; /* 50px padding on each side */
    display: flex;
    flex-direction: column;
    position: relative;
}

.title-bar {
    background-color: #F8AC00;
    padding: 10px 20px 10px 20px;
    border-bottom: 5px solid #5F3B28;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
    -webkit-text-stroke: 0.5px#5F3B28;
}

.status-bar {
    display: flex;
    justify-content: center; /* Added this line */
    align-items: flex-end;
}

.icon {
    margin-left: 10px;
    font-size: 18px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.windows {
    flex: 1;
    padding: 20px;
    position: relative;
    background-color: #E8D2C0;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}


.window {
    background-color: #F5ECDC;
    border: 3px solid #5F3B28;
    border-radius: 8px;
    box-shadow: 5px 5px 0 #5F3B28;
    position: absolute;
    padding: 0;
}

.window .title-bar, .window .title-bar-red, .window .title-bar-blue, .window .title-bar-green{
    background-color: #F8AC00;
    padding: 5px 5px 5px 10px;
    border-bottom: 3px solid #5F3B28;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window .title-bar-red, .window .title-bar-blue, .window .title-bar-green {
    background-color: #FC6F60;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.window .title-bar-blue {
    background-color: #1D8DC0;
}

.window .title-bar-green {
    background-color: #00B88B;
}

.window .title-bar-white{
    background-color: #F5ECDC;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
    padding: 0px 8px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    border-bottom: 3px solid #5F3B28;
}

.window .content {
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
}

.window.lorem {
    top: 5px;
    width: 300px;
    background-color: #F5ECDC; /* Soft yellow background */
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative; /* Adjust if you want a different layout */
    left: calc(24% + -100px); /* Start with 10% of the screen width plus 50px */
}

.window.lorem .title-bar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.window.popout{
    background-color: #F5ECDC; /* Soft yellow background */
    padding: 10px 15px 10px 20px;
    top: 30px;
    right: calc(1% + 10px); /* Start with 10% of the screen width plus 50px */
}

.title {
    font-size: 20px;
    font-weight: bold;
    background-color: transparent; /* Removing any background */
}

.titlepop {
    font-size: 18px;
    font-weight: bold;
    background-color: transparent; /* Removing any background */
    -webkit-text-stroke: 0.3px #5F3B28;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 12px;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title1 {
    font-size: 17px;
    font-weight: bold;
    color: #F8AC00; /* Black color for the title */
    background-color: transparent; /* Removing any background */
    -webkit-text-stroke: 0.2px#F8AC00;
}

.window.lorem .content h1 {
    font-size: 18px;
    font-weight: bolder;
    margin: 0px 0px 5px 0px;
    -webkit-text-stroke: 0.35px#5F3B28;
    font-family: 'Courier New', Courier, monospace;
}

.window.lorem .content p {
    font-size: 16px;
    line-height: 1.4;
    margin: 5px 0px;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: 0.2px#5F3B28;
    font-weight: 400;
}

.desktopwithicon {
    position: absolute;  /* Position relative to its nearest positioned ancestor */
    top: 40px;           /* Distance from the top of the container */
    left: 30px;          /* Distance from the left side of the container */
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktopwithicon2 {
    position: absolute;  /* Position relative to its nearest positioned ancestor */
    top: 40px;           /* Distance from the top of the container */
    left: 160px;          /* Distance from the left side of the container */
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-icons {
    gap: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


.desktop-icons:hover img.desktop-icon {
    filter: sepia(1) hue-rotate(180deg) saturate(3) brightness(0.5) contrast(1.2);
}

.icon-name {
    border: 1px solid #E8D2C0;
    border-radius: 8px;
    padding: 4px 9px;
}

.icon-name p {
    color: #5F3B28;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.desktop-icons:hover .icon-name {
    background-color: #5F3B28; /* Change to a darker color */
    color: #F5ECDC; /* Change text color */
    border: 1px solid #5F3B28;
}

.desktop-icons:hover .icon-name p {
    color: #F5ECDC; /* Change text color */
}

.window.folders {
    bottom: calc(1% + 80px); /* Start with 10% of the screen width plus 50px */
    right: calc(5% + 0px); /* Start with 10% of the screen width plus 50px */
}

.folder-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 25px 40px 25px 25px;
}

.folder-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 25px 40px 25px 25px;
    cursor: pointer; /* Make cursor a pointer */
}

.folder-grid{
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.folder-grid:hover {
    background-color: #5F3B28; 
    color: #F5ECDC; /* Change text color on hover */
}

.folder-grid:hover .folder-item p {
    color: #F5ECDC; /* Change paragraph text color on hover */
}

.folder-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.folder-item p {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
}

/* Simulated Scrollbars */
.fake-scrollbar {
    border: 3px solid #5F3B28;
    border-radius: 10px;
    position: absolute;
}

/* Horizontal scrollbar */
.fake-scrollbar-horizontal {
    bottom: 0;
    left: -3px;
    border-radius: 0px;
    right: 15px; /* Offset to not overlap with the vertical scrollbar */
    height: 18px; /* Height of the track */
    width: 314px;
    background: #F5ECDC; /* Adjust color to match your design */
    border-bottom-left-radius: 8px;
}

/* Vertical scrollbar */
.fake-scrollbar-vertical {
    top: 28px; /* Start below the title bar */
    border-radius: 0px;
    right: -3px;
    bottom: 15px; /* Offset to not overlap with the horizontal scrollbar */
    width: 18px; /* Width of the track */
    height: 276px;
    background: #F5ECDC; /* Adjust color to match your design */
    border-bottom-right-radius: 8px;
}

/* Thumb styles (the draggable part of the scrollbar) */
.fake-thumb-horizontal {
    position: absolute;
    bottom: -3px; /* Center within the track */
    left: 100px; /* Initial position */
    width: 170px; /* Width of the thumb */
    height: 18px; /* Height of the thumb */
    border: 3px solid #5F3B28;
    background: #FF6B6B;
    border-radius: 15px; /* Fully rounded ends */
}

.fake-thumb-vertical {
    position: absolute;
    top: 50px; /* Start below the title bar */
    right: -3px; /* Center within the track */
    width: 18px; /* Width of the thumb */
    height: 60px; /* Height of the thumb */
    border: 3px solid #5F3B28;
    background: #FF6B6B;
    border-radius: 15px; /* Fully rounded ends */
}

.window.player {
    bottom: calc(5% + 301px); /* Start with 10% of the screen width plus 50px */
    right: calc(55% + -360px); /* Start with 10% of the screen width plus 50px */
}

.window.chat {
    position: absolute;
    bottom: calc(1% + 125px);
    right: calc(5% + 360px);
    width: 300px; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window.chat .chat-content {
    padding: 15px 10px 15px 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.window.chat .chat-message {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 400px;
}

.window.chat .avatar-icon {
    width: 20px;
    height: 20px;
}

.window.chat .chat-bubble {
    background-color: #F5ECDC;
    border: 2px solid #5F3B28;
    border-radius: 5px;
    padding: 5px 10px;
    color: #5F3B28;
    font-size: 14px;
}

.window.chat .send-section {
    border-top: 2px solid #5F3B28;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.window.chat .send-button {
    font-size: 14px;
    background-color: #00B88B;
    border: 2px solid #5F3B28;
    border-radius: 5px;
    padding: 5px 15px;
    color: #F5ECDC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.window.chat .send-button:hover{
    background-color: #5F3B28;
}

.popout-grid{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.popout-message p{
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    font-weight: 600;
}

.popout-button-list{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    cursor: pointer; /* Change cursor to pointer */
}

.popout-button-list a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    display: block; /* Make the anchor tag behave like a block element */
    text-align: center; /* Center the text inside the button */
}

.popout-button{
    background-color: #F5ECDC;
    color: #5F3B28;
    padding: 4px 10px;
    border: 2px solid #5F3B28;
    border-radius: 5px;
}

.popout-button:hover {
    background-color: #5F3B28; /* Change background color to brown on hover */
    color: #F5ECDC;
}

.icon-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; /* Spacing from the text to the icons */
    padding: 0px 10px;
}

.bottom-icon {
    width: auto; /* Adjust size as needed */
    height: 25px;
}

.taskbar {
    background-color: #F5ECDC;
    border: 3px solid #5F3B28;
    border-radius: 1px;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    gap: 20px;
}

.taskbar .icon {
    position: relative;
    transition: transform 0.25s ease;
}

.taskbar .icon:hover {
    transform: scale(1.2);
}

.taskbar .icon:hover img {
    filter: brightness(1.15);
}

.taskbar .icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.taskbar .icon img {
    height: 55px;
    transition: filter 0.3s ease;
}

.taskbar .icon a::after {
    content: attr(title);
    position: absolute;
    bottom: 115%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5F3B28;
    color: #F5ECDC;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-size: 14px;
}

.taskbar .icon:hover a::after {
    opacity: 1;
}

.player-controls {
    display: flex;
    justify-content: center;
    padding: 30px 10px 25px 10px;
    gap: 10px;
}

.player-content {
    padding: 0px 25px 20px 25px;
}
.player-content p{
    margin: 0;
    font-size: 16px;
}

.play-pause-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.play-pause-btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-pause-btn-container:hover #playPauseBtn {
    filter: invert(32%) sepia(55%) saturate(603%) hue-rotate(168deg) brightness(96%) contrast(94%);
}

.window.search{
    top: calc(5% + 105px); /* Start with 10% of the screen width plus 50px */
    right: calc(40% + -250px); /* Start with 10% of the screen width plus 50px */
    width: 400px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    background-color: #F5ECDC;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 0px;
    box-shadow: 3px 3px 0 #5F3B28;
    border-left-width: 0px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-icon-container {
    background-color: #F8AC00;
    border: 3px solid #5F3B28;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.search-icon {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    margin-left: 1px;
}

.search-bar input[type="text"] {
    flex: 1;
    height: 100%;
    width: 170px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    color: #5F3B28;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5px;
}

.blinking-cursor {
    display: inline-block;
    width: 3px;
    height: 24px; /* Adjust height as needed */
    background-color: #5F3B28;
    animation: blink 1.25s step-end infinite;
    vertical-align: middle;
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Hide the cursor when the input is focused */
.search-input:focus + .blinking-cursor {
    display: none;
}
.control-icon {
    cursor: pointer;
    margin: 0 10px;
    width: auto;
    height: 25px;
}

.control-icon.disabled {
    cursor: default;
}

.control-icon.play-pause {
    transition: transform 0.2s ease-in-out;
}

.svg-icon {
    width: auto; /* Updated this line */
    height: 20px; /* Updated this line */
    vertical-align: middle;
}

.nav-icon {
    width: auto; /* Updated this line */
    height: 20px; /* Updated this line */
}

.menu-icon {
    width: auto; /* Updated this line */
    height: 22px; /* Updated this line */
}

.button-icon {
    width: auto; /* Updated this line */
    height: 12px; /* Updated this line */
    display: flex;
}

.button-icon2 {
    width: auto; /* Updated this line */
    height: 14px; /* Updated this line */
    display: flex;
}

.folder-icon {
    width: auto; /* Updated this line */
    height: 60px; /* Updated this line */
    display: flex;
}

.popout-icon{
    width: auto; /* Updated this line */
    height: 36px; /* Updated this line */
    display: flex;
}

.desktop-icon{
    width: auto; /* Updated this line */
    height: 75px; /* Updated this line */
    display: flex;
    margin: 0;
}

.window.readme {
    top: 25px;
    left: 7%;
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.title-bar-readme {
    background-color: #FC6F60;
    padding: 12px;
    border-bottom: 3px solid #5F3B28;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-buttons, .right-buttons {
    display: flex;
    gap: 18px;
    padding-left: 5px;
}

.right-buttons{
    padding-right: 5px;
}

.white-box {
    flex-grow: 1; /* Ensure it takes up the remaining space */
    background-color: #F5ECDC; /* White background */
    height: 100%; /* Match the height of the parent */
    margin: 8px 10px 8px 15px; /* Optional: add some margin to separate from buttons */
    border-radius: 25px; /* Optional: add rounded corners */
    border: 2px solid #5F3B28;
}

.title-buttons {
    display: flex;
}

.add-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    background-color: #F5ECDC;
    border-right: 3px solid #5F3B28;
}

.add-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}

.tab {
    position: relative; /* Add this line */
    font-size: 18px;
    cursor: pointer;
    padding: 11px 60px;
    background-color: #FFAAA7;
    color: #5F3B28;
    border-right: 3px solid #5F3B28;
}

.tab.english {
    border-top-left-radius: 5px;
}

.tab.english.active, .tab.chinese.active {
    background-color: #FC6F60;
    color: #F5ECDC;
    cursor: default;
}

.tab.active::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #FC6F60;
    z-index: 1; /* Change this to a positive value */
}

.tab.english.active{
    border-top-left-radius: 5px;
}

.tab:not(.active):hover {
    background-color: #5F3B28;
    color: #F5ECDC;
}

.content-readme {
    flex: 1; /* Take up the remaining space */
    padding: 5px 20px 10px 20px;
    font-size: 16px;
    line-height: 1.65;
    overflow-y: auto; /* Add vertical scroll bar */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.text-english li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 6px;
}

.text-chinese li{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 6px;
    line-height: 1.55;
}

/* Optional: Styling the scrollbar for better appearance */
.content-readme::-webkit-scrollbar {
    width: 20px;
}

.content-readme::-webkit-scrollbar-track {
    background: #F5ECDC;
    border-left: 3px solid #5F3B28;
}

.content-readme::-webkit-scrollbar-thumb {
    background: #FF6B6B;
    border: 3px solid #5F3B28;
    border-right: 1px solid #5F3B28;
    border-radius: 15px;
    width: 20px;
}

.content-readme::-webkit-scrollbar-thumb:hover {
    background: #EF5241;
}

.text-chinese {
    display: none;
}

.agreement-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}

.agreement-section p {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 20px 0px 15px 0px;
}

.buttons {
    display: flex;
    gap: 14px;
}

.agree-btn {
    background-color: #777;
    color: #F5ECDC;
    border: 2px solid #5F3B28;
    border-radius: 5px;
    padding: 8px 38px;
    cursor: not-allowed;
    font-size: 15px;
}

.agree-btn.enabled {
    cursor: pointer;
    background-color: #00B88B;
}

.agree-btn.enabled:hover {
    background-color: #018d6a;
}

.decline-btn {
    background-color: #FC6F60;
    color: #F5ECDC;
    border: 2px solid #5F3B28;
    border-radius: 5px;
    padding: 8px 38px;
    cursor: pointer;
    font-size: 15px;
}

.decline-btn:hover{
    background-color: #e64836;
}

/* 隐藏默认勾选框 */
input[type="checkbox"] {
    display: none;
}

/* 创建自定义的勾选框 */
input[type="checkbox"] + label {
    position: relative;
    padding-left: 38px;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    align-items: flex-start;
    font-family: 'Courier Prime', Courier, monospace;
}

/* 创建自定义的勾选框样式 */
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    border: 2px solid #5F3B28;
    border-radius: 4px;
    background-color: #F5ECDC;
    transition: background-color 0.2s, border-color 0.2s;
}

/* 创建自定义的勾选框选中样式 */
input[type="checkbox"]:checked + label::before {
    background-color: #00B88B;
    border-color: #00B88B;
}

/* 创建勾选框内的对勾 */
input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 6px;
    height: 12px;
    border: solid #F5ECDC;
    border-width: 0 2px 2px 0;
    position: absolute;
    left: 7px;
    top: 2px;
    transform: rotate(45deg);
}


.window.contact {
    top: 25px;
    left: calc(50% - 400px);
    display: flex;
    flex-direction: column;
    width: 800px; /* Adjust width as needed */
    height: 490px; /* Adjust height as needed */
}

.contact-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: 'Courier Prime', Courier, monospace;
}

.contact-left {
    width: 38%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #5F3B28;
}

.contact-left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-left ul li {
    font-size: 16px !important;
    margin-bottom: 15px;
    cursor: pointer;
    padding: 13.5px 17.5px 11.5px 17.5px;
    border-bottom: 3px solid#5F3B28;
    margin: 0px;
    font-size: 17px;
}

.contact-left p {
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0px 0px 0px;
}

.contact-left ul li:hover {
    background-color: #5F3B28;
    color: #F5ECDC;
}

.contact-right {
    width: 67.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.contact-right .contact-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact-right .contact-icon {
    width: 30px;
    height: 30px;
}

.contact-right button {
    background-color: #00B88B;
    border: 2px solid #F5ECDC;
    border-radius: 5px;
    color: #F5ECDC;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Courier Prime', Courier, monospace;
}

.contact-right button:hover {
    background-color: #F5ECDC;
    color: #5F3B28;
}

.contact-search{
    border-bottom: 3px solid#5F3B28;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    height: 52px;
    box-sizing: border-box; /* Ensure padding and border are included in the height */
}

.contact-white-box{
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #F5ECDC; /* White background */
    height: 25px;
    width: 205px;
    border-radius: 8px; /* Optional: add rounded corners */
    border: 2px solid #5F3B28;
}

.contact-white-box .arrow-icon {
    width: 20px;
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Optional: add some margin */
}

.arrow-icon {
    width: 25px;
    height: auto; /* Maintain aspect ratio */
    margin-left: 18px; /* Optional: add some margin */
}

.module.active {
    background-color: #00B88B;
    color: #F5ECDC;
    cursor: default;
}

.module.active:hover {
    background-color: #00B88B; /* Same as active background color */
    color: #F5ECDC;
    cursor: default; /* Change cursor to default to indicate it's active */
}

.content-contact.active{
    width: 100%;
}

.content-contact.active .contact-title {
    width: 100%;
}

@media (max-height: 840px) {
    .desktop-window {
        height: calc(100% - 80px); /* 50px padding on each side */
    }
}

@media (max-height: 830px) {
    .desktopwithicon, .desktopwithicon2 {
        transform: scale(0.95);
        transform-origin: top left; /* Adjust the origin if necessary */
    }
    .desktopwithicon2 {
        left: 160px;
    }
}

@media (max-height: 800px) {
    .window.lorem {
        transform: scale(0.975);
        transform-origin: top left; /* Adjust the origin if necessary */
    }
    .window.folders {
        transform: scale(0.975);
        transform-origin: top left; /* Adjust the origin if necessary */
        bottom: calc(1% + 60px);
    }
    .window.player {
        transform: scale(0.975);
        transform-origin: top left; /* Adjust the origin if necessary */
        bottom: calc(25% + 170px); /* Start with 10% of the screen width plus 50px */
    }
    .window.popout {
        transform: scale(0.975);
        transform-origin: top right; /* Adjust the origin if necessary */
    }

    .search {
        display: none !important;
    }
}

@media (max-height: 730px) {
    .desktopwithicon, .desktopwithicon2 {
        transform: scale(0.86);
        transform-origin: top left; /* Adjust the origin if necessary */
    }
    .desktopwithicon2 {
        left: 150px;
    }
}

@media (max-width: 1340px) {
    .desktop-window {
        width: calc(100% - 80px); /* 50px padding on each side */
    }
}

@media (max-width: 1000px) {
    .desktop-window {
        width: calc(100% - 80px); /* 50px padding on each side */
    }
}

@media screen and (max-width: 959px) {
    body {
        background: linear-gradient(to right, #5F3B28, #5F3B28);
        color: white !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100vh !important;
        margin: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }

    .desktop-window,
    .title-bar,
    .title-bar1,
    .content,
    .windows,
    .window,
    .taskbar {
        display: none !important;
    }

    body .mobile-message {
        display: block !important;
    }
}

@media screen and (max-height: 700px) {
    body {
        background: linear-gradient(to right, #5F3B28, #5F3B28);
        color: white !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100vh !important;
        margin: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }

    .desktop-window,
    .title-bar,
    .title-bar1,
    .content,
    .windows,
    .window,
    .taskbar {
        display: none !important;
    }

    body .mobile-message {
        display: block !important;
    }
}

body .mobile-message {
    display: none;
    padding: 0px 25px;
}

body .mobile-message p {
    line-height: 1.6rem;
    color: #F5ECDC;
}

body .mobile-icon {
    width: auto; /* Updated this line */
    height: 125px; /* Updated this line */
}