body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #C2BDFF, #F8CEDB);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #5F3B28;
    font-weight: 800;
    font-size: 18px;
}

.desktop-window {
    background-color: #F5ECDC;
    border: 4px solid #5F3B28;
    border-radius: 25px;
    box-shadow: 12px 12px 0 #5F3B28;
    padding: 0;
    width: calc(100% - 250px); /* 50px padding on each side */
    height: calc(100% - 200px); /* 50px padding on each side */
    display: flex;
    flex-direction: column;
    position: relative;
}

.title-bar {
    background-color: #ffac33;
    padding: 7px 6px 7px 20px;
    border-bottom: 4px solid #5F3B28;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
}

.status-bar {
    display: flex;
    justify-content: center; /* Added this line */
    padding: 0 10px;
    align-items: flex-end;
}

.icon {
    margin-left: 10px;
    font-size: 18px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.windows {
    flex: 1;
    padding: 20px;
    position: relative;
}

.window {
    background-color: #F5ECDC;
    border: 2px solid #5F3B28;
    border-radius: 8px;
    box-shadow: 4px 4px 0 #5F3B28;
    position: absolute;
    padding: 0;
}

.window .title-bar {
    background-color: #ffac33;
    padding: 5px 5px 5px 10px;
    border-bottom: 2px solid #5F3B28;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window .content {
    padding: 10px;
}

.lorem {
    top: 40px;
    left: 40px;
    width: 200px;
}

.login {
    top: 120px;
    left: 260px;
    width: 200px;
}

.folders {
    top: 200px;
    left: 40px;
    width: 150px;
}

.progress {
    top: 280px;
    left: 220px;
    width: 180px;
}

.chat {
    top: 360px;
    left: 40px;
    width: 200px;
}

.taskbar {
    background-color: #F5ECDC;
    border: 2.5px solid #5F3B28;
    border-radius: 1px;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    gap: 5px;
}

.taskbar .icon {
    font-size: 30px;
}

.folder {
    font-size: 24px;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ffac33;
    margin-bottom: 10px;
}

.svg-icon {
    width: auto; /* Updated this line */
    height: 20px; /* Updated this line */
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    body {
        background: linear-gradient(to right, #5F3B28, #5F3B28);
        color: white !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100vh !important;
        margin: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }

    .desktop-window,
    .title-bar,
    .content,
    .windows,
    .window,
    .taskbar {
        display: none !important;
    }

    body .mobile-message {
        display: block !important;
    }
}

body .mobile-message {
    display: none;
    padding: 0px 25px;
    line-height: 1.6rem;
}