.window.about {
    top: calc(5% - 10px); /* Start with 10% of the screen width plus 50px */
    width: 65%;
    height: calc(85% + 10px);
    display: flex;
    left: 20%;
    flex-direction: column;
    background-color: #7E5540;
}

.about-nav{
    padding: 15px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.navbuttons{
    flex-grow: 1; /* Ensure it takes up the remaining space */
    background-color: #F5ECDC; /* White background */
    height: 50px; /* Match the height of the parent */
    margin: 0px 20px; /* Optional: add some margin to separate from buttons */
    border-radius: 20px; /* Optional: add rounded corners */
    border: 2px solid #5F3B28;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
}

.navsvgs{
    height: 22px;
    width: auto;
}

.about-ruler-hor{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.rulerhor{
    width: 732px;
    height: auto;
}